@model IEnumerable<CS481.Models.ForumComment>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@*<table class="table">*@
    @*<tr>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.userID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForumPost.title)
        </th>
        <th></th>
    </tr>*@
<h3></h3>

@foreach (var item in Model) {
    if (ViewBag.id == item.postID) {
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <p class="card-text">@Html.DisplayFor(modelItem => item.content)</p>
                <br />
                @Html.DisplayFor(modelItem => item.timeCreate)
            </div>
        </div>
    @*<tr>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForumPost.title)
        </td>*@
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id = item.commentID }) |
            @Html.ActionLink("Details", "Details", new { id = item.commentID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.commentID })
        </td>*@
    //</tr>
        }
    }

@*</table>*@
