@model CS481.Models.ForumPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ForumPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeCreate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeCreate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.fName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.fName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.postID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
