@model IEnumerable<CS481.Models.ForumPost>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
        @foreach (var item in Model)
        {
            <div class="container">

                <hr />
                <div class="col-md-9">
                    <div class="col-md-1">
                        <aside>
                            <button type="button">
                                <span class="glyphicon glyphicon-arrow-up"></span>
                            </button>

                            @Html.DisplayFor(modelItem => item.score)

                            <button type="button">
                                <span class="glyphicon glyphicon-arrow-down"></span>
                            </button>

                        </aside>
                    </div>

                    <div class="col-md-5">
                        <h2>
                            @Html.DisplayFor(modelItem => item.title)
                        </h2>

                        @Html.ActionLink("Details", "Details", new { id = item.postID })

                    </div>

                </div>
                @*@Html.DisplayFor(modelItem => item.content)*@

                <br />
                
                @Html.DisplayFor(modelItem => item.timeCreate)

                @*@Html.DisplayFor(modelItem => item.User.fName)*@


                @*@Html.ActionLink("Edit", "Edit", new { id = item.postID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.postID })*@
            </div>
        }

        @*@Html.ActionLink("Edit", "Edit", new { id = item.postID }) |
          @Html.ActionLink("Delete", "Delete", new { id = item.postID })*@
