@model IEnumerable<CS481.Models.ForumPost>

@{
    ViewBag.Title = "Index";
}

<br />
<br />

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-header">@Html.DisplayFor(modelItem => item.score)</div>
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.title)</h4>
            <p class="card-text">@Html.DisplayFor(modelItem => item.content)</p>
            @Html.ActionLink("Comments", "Details", new { id = item.postID })
            @Html.DisplayFor(modelItem => item.timeCreate)
        </div>
    </div>
        

        @*@Html.DisplayFor(modelItem => item.User.fName)*@


        @*@Html.ActionLink("Edit", "Edit", new { id = item.postID })
            @Html.ActionLink("Delete", "Delete", new { id = item.postID })*@
}

@*@Html.ActionLink("Edit", "Edit", new { id = item.postID }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.postID })*@
