@model CS481.Models.Blog
@{
    ViewBag.Title = "Details";
}

<head>
    <style>
        #look-good {
            position: absolute;
            left: 22.5%;
            top: 25%;
            border: 1px solid #ccc;
            padding: 10px 10px;
        }
    </style>
</head>

<br />
<br />

@*<div id="look-good">
    <table border="0">
        <tr>
            <td align="center">
                <h1>@Html.DisplayFor(model => model.title)</h1>
                <h2>@Html.DisplayFor(model => model.content)</h2>
                <h3>@Html.DisplayFor(model => model.timeCreate)</h3>
            </td>
        </tr>
        <tr><td align="center"><hr /></td></tr>
        <tr>
            <td align="center">
                <h1>@Html.DisplayFor(model => model.User.fName)</h1>
            </td>
        </tr>
        <tr><td align="center"><hr /></td></tr>
    </table>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>*@

<div class="jumbotron">
    <blockquote class="blockquote">
        <h1 class="display-3">@Html.DisplayFor(model => model.title)</h1>
        <br />
        <p class="lead">@Html.DisplayFor(model => model.content)</p>
        <hr class="my-4">
        <footer class="blockquote-footer">@Html.DisplayFor(model => model.User.fName)</footer> 
        <p class="lead">
        <br />
            <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Blogs")", role="button">Back to list</a>
        </p>
    </blockquote>
</div>




