@model IEnumerable<CS481.Models.Blog>

@{
    ViewBag.Title = "Index";
}

<br/ >
<br />

<h2>Blogs</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <h2></h2>
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
        <div class="card-body">
            <h4 class="card-title">@Html.DisplayFor(modelItem => item.title)</h4>
            <p class="card-text">Posted By: @Html.DisplayFor(modelItem => item.User.fName) @Html.DisplayFor(modelItem => item.User.lName)</p>
            <p class="card-text">@Html.DisplayFor(modelItem => item.content)</p>
            <br />
            Last Modified:  @Html.DisplayFor(modelItem => item.lastMod)
            @Html.DisplayFor(modelItem => item.timeCreate)
        </div>
    </div>
}

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastMod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.fName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeCreate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastMod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.fName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.blogID }) |
            @Html.ActionLink("Details", "Details", new { id=item.blogID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.blogID })
        </td>
    </tr>
}

</table>*@
